button{
    padding: 20px;
    border: none;
    border-radius: 7px;
    margin: 5px ;
}

button:hover{
    border: 2px solid black;
}
#btn1{
    background-color: chocolate;
}
#btn2{
    background-color: orchid;
}
#btn3{
    background-color: #2d2d2d;
}
#btn4{
    background-color: chartreuse;
}